*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #000000f0;
  animation: gradient 10s linear infinite alternate;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 0.5vw;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 30px;
}
::-webkit-scrollbar-track-piece{
  background: #000000fa;
}

#nav{
  background-color: #8d9977;

}
#aboutMe{
  background-color: #8d9977;
}
#stack{
  background-color: #60a080;
}
#education{
  background-color: #4c574e;
}
#projects{
  background-color: #ffffff;
}
#hireMe{
  background-color: #8d9977;
}
#footer{
  background-color: #4c574e;
}

.typing p {
  border-right: .15em solid #ffbd4a;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}


.typing p:nth-child(1) {
  width: 9.5em;
  font-size: 3em;
  font-weight: bold;
  opacity: 0;
  animation: type2 1s steps(20, end);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  
}

.typing p:nth-child(2) {
  width: 16em;
  font-size: 1.6em;
  opacity: 0;
  animation: type3 1s steps(20, end);
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  
}

.typing p:nth-child(3) {
  width: 18.5em;
  font-size: 1.38em;
  opacity: 0;
  animation: type4 1s steps(20, end), blink 0.5s step-end infinite alternate;
  animation-delay: 3.1s;
  animation-fill-mode: forwards;
}

@media(max-width: 500px) {
  .typing p:nth-child(1) {
    width: 8.1em;
    font-size: 2.5em;
  }
  
  .typing p:nth-child(2) {
    width: 16em;
    font-size: 1.3em;
  }
  
  .typing p:nth-child(3) {
    width: 18.5em;
    font-size: 1.14em;
  }
}

@media(max-width: 400px) {
  .typing p:nth-child(1) {
    width: 8.1em;
    font-size: 2.2em;
  }
  
  .typing p:nth-child(2) {
    width: 16em;
    font-size: 1.13em;
  }
  
  .typing p:nth-child(3) {
    width: 18.5em;
    font-size: 1em;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #ffbd4a;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #ffbd4a;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #ffbd4a;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: #ffbd4a;
  }
  50% {
    border-color: transparent;
  }
}

.down{
  animation: arrow 2.5s infinite alternate;
  animation-fill-mode: forwards;
  animation-delay: 3.6s;
}

@keyframes arrow {
  0% {
    top: 0vh;;
  }
  10% {
    top: 1vh;;
  }
  30% {
    top: 0vh;;
  }
}

.textAboutMe p:nth-child(1) {
  margin-top:2vw;
  color:red;
}

.animation-gradient{
  background-color: #000000f0;
  animation: gradient 10s linear infinite alternate;
}
@keyframes gradient {
  0%{background-color: #009688}
  50%{background-color: #673AB7}
  100%{background-color: #4605ff}
  }

.socialIntro{
  flex-direction: column;
  height: 35vh;
  margin-right: 3vw;
}

.socialContact{
  flex-direction: row;
}