*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 0.5vw;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 30px;
}
::-webkit-scrollbar-track-piece{
  background: #000000fa;
}

.down{
  animation: arrow 2.5s infinite alternate;
  animation-fill-mode: forwards;
  animation-delay: 3.6s;
}

@keyframes arrow {
  0% {
    top: 0vh;;
  }
  10% {
    top: 1vh;;
  }
  30% {
    top: 0vh;;
  }
}

.socialIntro{
  flex-direction: column;
  height: 35vh;
  margin-right: 3vw;
  @media(max-width: 800px) {
    height: 15vw;
    flex-direction: row;
    margin-right: 0;
    width: 30vw;
    left: 0;
    }
  @media(max-width: 500px) {
    width: 50vw;
    height: 25vw;
  }
}

.social-hireMe{
  flex-direction: row;
  width: 250px;
  height: 25vh;
}

.projectImage{
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px;
  background-size: contain;
}

.align-left{
  align-items: flex-end;
  @media(max-width: 600px) {
    align-items: flex-start;
  }
}
.align-left p{
  text-align: right;
  @media(max-width: 600px) {
    text-align: left;
  }
}
.column-reverse{
  @media(max-width: 600px) {
    flex-direction: column-reverse !important;
  }
}
.align-description{
  align-items: flex-end;
  @media(max-width: 600px) {
    align-items: flex-start;
  }
}

#intro p:nth-child(1){
  font-size: 60pt;
  @media(max-width: 615px) {
    font-size: 35pt;
    }
  @media(max-width: 400px) {
    font-size: 30pt;
  }
}
#intro p:nth-child(2){
  font-family: 'Raleway', sans-serif;
  font-size: 30pt;
  font-weight: 200;
  @media(max-width: 615px) {
    font-size: 18pt;
    }
  @media(max-width: 400px) {
    font-size: 15pt;
  }
}
#intro b:first-child{
  color: #ffbd4a;
  font-weight: normal;
}
