*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #1d1d1d;
  /* animation: gradient 10s linear infinite alternate;
  background-image:  linear-gradient(#ffffff40, #7575756b, #e61a10e8);  */
  background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 0.5vw;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 30px;
}
::-webkit-scrollbar-track-piece{
  background: #000000fa;
}

#nav{
  background-color: #1d1d1d;

}
#aboutMe{
  background-color: #1d1d1d;
}
#stack{
  background-color: #ffbd4a;
}
#education{
  background-color: #4c574e;
}
#projects{
  background-color: #ffffff;
}
#hireMe{
  background-color: #8d9977;
}
#footer{
  background-color: #4c574e;
} 

.down{
  animation: arrow 2.5s infinite alternate;
  animation-fill-mode: forwards;
  animation-delay: 3.6s;
}

@keyframes arrow {
  0% {
    top: 0vh;;
  }
  10% {
    top: 1vh;;
  }
  30% {
    top: 0vh;;
  }
}

.textAboutMe p:nth-child(1) {
  margin-top:2vw;
  color:red;
}

.animation-gradient{
  background-color: #000000f0;
  animation: gradient 10s linear infinite alternate;
}
@keyframes gradient {
  0%{background-color: #009688}
  50%{background-color: #673AB7}
  100%{background-color: #4605ff}
  }

.socialIntro{
  flex-direction: column;
  height: 35vh;
  margin-right: 3vw;
  @media(max-width: 800px) {
    height: 15vw;
    flex-direction: row;
    margin-right: 0;
    width: 30vw;
    left: 0;
    }
    @media(max-width: 500px) {
      width: 50vw;
      height: 25vw;
    }
}

.socialContact{
  flex-direction: row;
}

.projectImage{
  width: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5vw;
  background-size: contain;
}

.background-color {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
.background-color p:nth-child(1){
  font-size: 60pt;
  font-family: 'Raleway', sans-serif;
  @media(max-width: 500px) {
    font-size: 35pt;
    }
    @media(max-width: 400px) {
      font-size: 30pt;
      }
}
.background-color p:nth-child(2){
  font-family: 'Raleway', sans-serif;
  font-size: 30pt;
  font-weight: 200;
  @media(max-width: 500px) {
    font-size: 18pt;
    }
    @media(max-width: 400px) {
      font-size: 15pt;
      }
}
.background-color b:first-child{
  color: #ffbd4a;
  font-weight: normal;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  overflow: hidden;
  z-index: -1;
}

$animationDuration: 100s;
$amount: 40;

.background span {
  width: 0;
  height: 0;
  top: 105vh;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #ffbd4a;
  backface-visibility: hidden;
  position: relative;
  animation-name: square1;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      left: $i * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
    }
  }

}

@keyframes square1 {
  100%{
    opacity: 0;
    top: 30vh;
    transform: translate3d(0, 0, 1px) rotate(660deg);
  }
  }