*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #1d1d1d;
  /* animation: gradient 10s linear infinite alternate;
  background-image:  linear-gradient(#ffffff40, #7575756b, #e61a10e8);  */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 0.5vw;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 30px;
}
::-webkit-scrollbar-track-piece{
  background: #000000fa;
}

#nav{
  background-color: #8d9977;

}
#aboutMe{
  background-color: #8d9977;
}
#stack{
  background-color: #60a080;
}
#education{
  background-color: #4c574e;
}
#projects{
  background-color: #ffffff;
}
#hireMe{
  background-color: #8d9977;
}
#footer{
  background-color: #4c574e;
} 

.down{
  animation: arrow 2.5s infinite alternate;
  animation-fill-mode: forwards;
  animation-delay: 3.6s;
}

@keyframes arrow {
  0% {
    top: 0vh;;
  }
  10% {
    top: 1vh;;
  }
  30% {
    top: 0vh;;
  }
}

.textAboutMe p:nth-child(1) {
  margin-top:2vw;
  color:red;
}

.animation-gradient{
  background-color: #000000f0;
  animation: gradient 10s linear infinite alternate;
}
@keyframes gradient {
  0%{background-color: #009688}
  50%{background-color: #673AB7}
  100%{background-color: #4605ff}
  }

.socialIntro{
  flex-direction: column;
  height: 35vh;
  margin-right: 3vw;
}

.socialContact{
  flex-direction: row;
}

.projectImage{
  width: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5vw;
  background-size: contain;
}

.background-color {
  font-family: 'Raleway', sans-serif;
}
.background-color p:nth-child(1){
  font-size: 60pt;
  font-family: 'Raleway', sans-serif;
}
.background-color p:nth-child(2){
  font-family: 'Raleway', sans-serif;
  font-size: 30pt;
  font-weight: 200;
}
.background-color b:first-child{
  color: #ffbd4a;
  font-weight: normal;
}
.background-color span:nth-child(1){
  position: relative;
  top: 79vh;
  left: 45vw;
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #ffbd4a;
  animation: square1 10s linear infinite;
}


@keyframes square1 {
  100%{
    top: -50vh;
    transform: translate3d(0, 0, 1px) rotate(660deg);
  }
  }